/* Set the canvas to fill the screen or desired container */
html, body {
  margin: 0;
  padding: 0; 
  color: #fffce1;
}

p {
  font-size: 1rem;
  line-height: 1.3;
}

html:not(.wf-design-mode) .webgl-sphere {
  height: 6500px; /* scroll length */
}

.webgl-sphere canvas {
  display: block; /* remove default inline-block spaces */
  width: 100%;
  height: 100%;
}

.webgl-sphere .sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}

.sticky-inner {
  position: absolute;
  inset: 0;
}

.feature h2, .glowing-heading {
  text-shadow: 0px 0px 38.56px rgba(255, 251, 0, 0.41), 0px 0px 80px rgba(0, 255, 161, 0.72);
}

.feature h2 {
  margin-bottom: 0.2em;
  max-width: 7.1em;
}

.feature p {
  font-size: var(--big-text);
  max-width: 17.3em;
  line-height: 113%;
}

.feature {
  text-align: left;
}

.feature_1 {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: var(--biggest-text);
  line-height: 113%;
  letter-spacing: -.03em;
  max-width: 17.5em;
  /* transform set with gsap.set */
}

.feature:not(.feature_1):nth-child(2n+1) {
  position: absolute;
  right: 55%;
  bottom: 15%;
}

.feature:nth-child(2n+2) {
  position: absolute;
  left: 55%;
  top: 15%;
}

